{% extends 'userpagelib.html' %}
{% block userblock %}
<div class="container" >
<div class="table-responsive" >
 <table class="table table-bordered" style="width: 100%">
    <thead>
      <tr>
        <th>bookno</th>
        <th>bookname</th>
        <th>user id</th>
        <th>user name</th>
        <th>user phoneno</th>
        <th>datefrom</th>
        <th>dateto</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj%}
    {% if i.status is 2 %}
    <form action="{% url 'issuebooklibform' %}" method="post">
    {% csrf_token %}
      <tr>
        <td><input name="bookno"type="text" style="border:none;background:none" value="{{i.idbook.bookno}}" readonly></td>
        <td><input name="bookname"type="text" style="border:none;background:none" value="{{i.idbook.bookname}}" readonly></td>
        <td><input name="userid"type="text" style="border:none;background:none" value="{{i.idreg.id}}" readonly></td>
        <td><input name="username"type="text" style="border:none;background:none" value="{{i.idreg.name}}" readonly></td>
        <td><input name="userphone"type="text" style="border:none;background:none" value="{{i.idreg.phone}}" readonly></td>
        <td><input name="datefrom"type="text" style="border:none;background:none" value="{{i.datefrom}}" readonly></td>
        <td><input name="dateto"type="text" style="border:none;background:none"value="{{i.dateto}}" readonly></td>
      </tr>
      </form>
        
        
        </td>
      </tr>
      </form>
      {% endif %}
      {% endfor %}
      
    </tbody>
  </table>

</div>
</div>
{% endblock userblock %}