{% extends 'main.html' %}
{% block block1 %}
<div class="login px-sm-4 mx-auto mw-100">


<article>
        <header class="section background-dark">
          <div class="line">        
            <br>
            <div style="margin-left:850px;">
            <h5>search your book here:<h5>
            <form action="{% url 'searchbookuser' %}" method="post" >
            {% csrf_token %}
            <input style="display:inline-block;float:left;" type="search" name='bookname'>
            <input style="display:inline-block;float:right;" type="submit" value="submit">
            <font>{{msg}}</font>
            <br><br>
            </form>
            </div>
    <br>

            <div class="container">
<div class="table-responsive" >
 <table class="table table-bordered">
    <thead>
      <tr>
        <th>bookno</th>
        <th>bookname</th>
        <th>author</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for i in obj%}
    <form action="{% url 'viewbookuserform' %}" method="post" onsubmit="return myFunction();">
    {% csrf_token %}
      <tr>
        <td><input name="bookno"type="text" style="border:none;background:none" value="{{i.bookno}}" readonly></td>
        <td><input name="bookname"type="text" style="border:none;background:none" value="{{i.bookname}}" readonly></td>
        <td><input name="author"type="text" style="border:none;background:none" value="{{i.author}}" readonly></td>
        {% if i.available is 0 %}
        <td><input class="btn btn-secondary" type='submit' value='out of stock' name="out" disabled></td>
        {% else %}
        <td><input type="submit" style="width:90px;height:40px;" class="btn btn-success" value='Getbook'></td>
        
        {% endif %}
      </tr>
      </form>
         <script>
        function myFunction() {
          if (confirm("Are you sure??!")) {
            return true;
          } else {
            return false;
          }

        }
        </script> 
        
        </td>
      </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
  <br><br>
  

</div>
</div>

          
             </div>  
        </header>
        </article>
		</div>
        
{% endblock block1 %}